# Specify the clientside visible variables which are used in the frontend. If using in a docker-compose, let the 2nd variable be the container_name of the backend service.
# Do not add a "/" at the end, as the frontend will add the path to the API endpoint itself.
PUBLIC_BACKEND_BASE_URL=http://localhost:8000

# Specify the serverside visible variables which are used in the frontend.
BACKEND_DOCKER_BASE_URL=http://navigator-backend:8000

# Redis configuration
REDIS_HOST=navigator-redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=navigator-stations
REDIS_PASSWORD=password

# BetterAuth
AUTH_SECRET=your-auth-secret
AUTH_POSTGRES_URL=postgres://navigator-users:password@navigator-postgres:5432/users

# Auth Providers
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret