.nd-fg-white {
    color: #fff;
}

.nd-bg-white {
    background-color: #fff;
}

.nd-fg-black {
    color: #0a0a0a;
}

.nd-fg-black {
    color: #0a0a0a;
}

.nd-fg-aqua {
    color: #7fbdef;
}

.nd-bg-aqua {
    background-color: #7fbdef;
}

.nd-fg-lightgray {
    color: #282828;
}

.nd-bg-lightgray {
    background-color: #282828;
}

.nd-fg-darkgray {
    color: #121212;
}

.nd-bg-darkgray {
    background-color: #121212;
}
