@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-thin {
    font-family: "Montserrat", serif;
    font-weight: 100;
}

.montserrat-extralight {
    font-family: "Montserrat", serif;
    font-weight: 200;
}

.montserrat-light {
    font-family: "Montserrat", serif;
    font-weight: 300;
}

.montserrat-regular {
    font-family: "Montserrat", serif;
    font-weight: 400;
}

.montserrat-medium {
    font-family: "Montserrat", serif;
    font-weight: 500;
}

.montserrat-semibold {
    font-family: "Montserrat", serif;
    font-weight: 600;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-weight: 700;
}
