@import "@fontsource/roboto-mono/300.css";
@import "@fontsource/roboto-mono/400.css";
@import "@fontsource/roboto-mono/500.css";
@import "@fontsource/roboto-mono/600.css";
@import "@fontsource/roboto-mono/700.css";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
	--background: oklch(0.0969 0 0);
	--text: oklch(1 0 0);

	--accent: oklch(0.8928 0.1828 96.51);
	--secondary: oklch(0.15 0 0);

	--muted: oklch(0.2 0 0);
	--muted-foreground: oklch(0.65 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-text: var(--text);
	--color-accent: var(--accent);
	--color-secondary: var(--secondary);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
}

@layer base {
	* {
		font-family: "Roboto Mono", monospace;
		font-weight: 400;
	}

	html {
		@apply bg-background text-text;
	}
}
